<div class="img-container">
  <img src="../../../assets/img/mouses/Deathhader.jpg" alt="" />
  <div class="img-title">Deathhader</div>
</div>
<div class="img-container">
  <img src="../../../assets/img/mouses/Logitech-G502.jpg" alt="" />
  <div class="img-title">Logitech G502</div>
</div>
<div class="img-container">
  <img src="../../../assets/img/mouses/Razer-Chroma.jpg" alt="" />
  <div class="img-title">Razer Chroma</div>
</div>
<div class="img-container">
  <img src="../../../assets/img/mouses/Logitech-G-Pro.jpg" alt="" />
  <div class="img-title">Logitech G Pro</div>
</div>
<div class="img-container">
  <img src="../../../assets/img/mouses/Razer.jpg" alt="" />
  <div class="img-title">Razer</div>
</div>
<div class="img-container">
  <img src="../../../assets/img/mouses/Razer2.jpg" alt="" />
  <div class="img-title">Razer2</div>
</div>
