<div class="img-container">
  <img src="../../../assets/img/headphones/Sony-XB950.jpg" alt="" />
  <div class="img-title">Sony XB950</div>
</div>
<div class="img-container">
  <img src="../../../assets/img/headphones/Sony-xb700.jpg" alt="" />
  <div class="img-title">Sony xb700</div>
</div>
<div class="img-container">
  <img src="../../../assets/img/headphones/Philips-SHL3210BK.jpg" alt="" />
  <div class="img-title">Philips SHL3210BK</div>
</div>
<div class="img-container">
  <img src="../../../assets/img/headphones/Philips-SHB3060BK.jpg" alt="" />
  <div class="img-title">Philips SHB3060BK</div>
</div>
<div class="img-container">
  <img src="../../../assets/img/headphones/beats-dr-dre-wifi.jpg" alt="" />
  <div class="img-title">Dr. Dre - beats</div>
</div>
<div class="img-container">
  <img src="../../../assets/img/headphones/beats-dr-dre-wifi-3.jpg" alt="" />
  <div class="img-title">Dr. Dre - beats</div>
</div>
<div class="img-container">
  <img src="../../../assets/img/headphones/beats-dr-dr3-wifi-2.jpg" alt="" />
  <div class="img-title">Dr. Dre - beats</div>
</div>
