<div class="img-container">
  <img src="../../../assets/img/smartphones/Cool-1.jpg" alt="" />
  <div class="img-title">Cool</div>
</div>
<div class="img-container">
  <img src="../../../assets/img/smartphones/Samsung-Galaxy-A7.jpg" alt="" />
  <div class="img-title">Samsung Galaxy A7</div>
</div>
<div class="img-container">
  <img src="../../../assets/img/smartphones/Samsung-Galaxy-S7-EDge.png" alt="" />
  <div class="img-title">Samsung Galaxy S7 EDge</div>
</div>
<div class="img-container">
  <img src="../../../assets/img/smartphones/Xiaomi-Redmi-3s.jpg" alt="" />
  <div class="img-title">Xiaomi Redmi 3s</div>
</div>
